<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../css/default.css"/>
</head>
<body>
    <main>
        <h1>Epitech Watch</h1>
        <table class="view" id="notifications-table">
        </table>
        <form class="view" id="register-form">
            <p>
                Please register your autologin link to connect with the Epitech's intranet API.<br>
                You can find this link at <a target="blank" href="https://intra.epitech.eu/admin/autolog">https://intra.epitech.eu/admin/autolog</a>
            </p>
            <input type="text" name="autologin" placeholder="autologin link:"/>
            <input type="submit" value="register"/>
        </form>
    </main>
    <script type="module" src="../app/app.js"></script>
</body>