main {
    min-width: 200px;
}

body {
    font-family: sans-serif;
    color: rgb(74, 74, 74);
}

h1, h2, h3, th {
    font-weight: 700;
    color: rgb(54, 54, 54);
    margin: 0;
}

h1 {
    font-size: 1.2em;
}